.container7{
	display:grid;
	height:100vh;
	grid-template-columns:1fr;
	grid-template-rows:1fr 1fr 15fr fr;
	grid-template-areas:"nav7"
						"main7"
						"conteudo7"
						"footer7"; 
	grid-gap:0.5em;
}
.container9{
	display:grid;
	height:100vh;
	grid-template-columns:1fr;
	grid-template-rows:1fr 1fr 15fr fr;
	grid-template-areas:"nav7"
						"main"
						"conteudo7"
						"footer7"; 
	grid-gap:0.5em;
}
#nav7{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#BA55D3;
	grid-area:nav7;
	border-radius:0 0 3em 3em;
	right:2px;
	float:right;
	height:20%;
	width:100%;
	border: solid white 5px;
	position:fixed;
}
#nav7 img{
	
} 
#menu a{
	text-decoration: none;
	font-size: 22px;
	margin-left:20px;
	margin-right:20px;
	padding: 15px;
	color:white;
	text-align:center;
}
#inscreva-se-btn{
	border: 2px solid white;
}
#menu a:hover{
	color:purple;
}
#main7{
	background-image:url(imagens/fotos/galera.jpg);
	background-repeat:no-repeat;
	grid-area:main7;
	border-radius:0.5em;
	height:80vh;
	width:100%;
}
:root{
 
    --fonte: 'Roboto', arial, sans-serif;
}

#main{
	background-image:url(imagens/cadastro/PAREDE.jpg);
	background-repeat:no-repeat;
	grid-area:main;
	border-radius:0.5em;
	height:80vh;
	width:100%;
}
#main img{
	height:100%;
	width:100%;
}

#conteudo7{
	background-color: rgb(132, 14, 201);
	grid-area:conteudo7;
	border-radius:0.8em;
	height:50vh;
	width:100%;
}
#conteudo7 h1{
	color:white;
	text-align:center;
}
#footer7{
	background-color:#BA55D3;
	grid-area:footer7;
	border-top: 30px solid purple;
		width:100%;
}
#footer7 > ol{
	display:flex;
	list-style-type: none;
}
#footer7 h1{
	text-align:center;
}
#footer7 h2{
	text-align:center;
}
body{
	background-color:purple;
	 font-family:var(--fonte);
}
:root{
  font-family:var(--fonte);
    --fonte: 'Roboto', arial, sans-serif;
}